<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <h3>
      <span>TCS Verbal Test {{vm.test.id}}</span>
    </h3>
  </div>
</md-toolbar>
<md-divider></md-divider>
<md-whiteframe class="md-whiteframe-z3" layout-padding layout="column" >

  <span ng-if="!vm.test"  layout="column" layout-align="center center"><p>Loading question...</p><span ng-include=" 'components/loader/loader.html' " ></span></span>
 <p style="line-height: 1.5;color:#2C3E50;" ng-if="vm.test.question"><strong>{{vm.test.question}}</strong></p>
  <p style="line-height: 1.5;margin-top: -10px;" ng-if="vm.test.outline"><strong>Outline : </strong></p>
  <p style="line-height: 1.5;margin-top: -10px;" ng-if="vm.test.outline"><strong><i>{{vm.test.outline}}</i></strong></p>
  <md-divider></md-divider>
  <span  ng-include=" 'app/exam/verbal/tcs/instructions.html' ">

  </span>
  <md-input-container flex >
    <label>Write your answer here...</label>
    <textarea ng-model="vm.test.answer" ng-change="vm.setCount();" rows="5" class="answer-textarea" ng-disabled="!vm.test && !vm.test.question" spellcheck='false' ></textarea>
  </md-input-container>
  <div class="md-actions" layout="row" layout-align="space-around end" ng-if="vm.test && vm.test.question">
    <md-list style="padding-top: 0px;padding-bottom: 0px;">
      <md-list-item>

        <label><md-icon md-font-set="fa fa-clock-o" style="margin-right: 0;"></md-icon>{{vm.test.time.minute>9?vm.test.time.minute:'0'+vm.test.time.minute}}:{{vm.test.time.second>9?vm.test.time.second:'0'+vm.test.time.second}}</label>
      </md-list-item>
    </md-list>
    <md-list style="padding-top: 0px;padding-bottom: 0px;">
      <md-list-item>

        <label>Word Count : {{vm.test.word}}</label>
      </md-list-item>
    </md-list>
  </div>
  <md-list ng-if="vm.test && vm.test.question">
    <md-list-item>
      <md-button class="md-raised md-primary" ng-click="vm.endTest($event);">Submit Answer <i class="fa fa-send"></i></md-button>
    </md-list-item>
  </md-list>
</md-whiteframe>

