<span ng-if="vm.sets.length==0" ng-include=" 'components/loader/loader.html' " class="center-loader" layout layout-align="center center"></span>
<md-whiteframe class="md-whiteframe-z" layout layout-align="space-around center"   layout-padding layout-margin layout-sm="column" layout-md="column" layout-gt-md="row" ng-repeat="set in vm.sets" style="overflow-y:hidden;">

  <div class="flip" ng-repeat="test in set.tests">
    <div class="card" ng-class="{'flipped':isFlipped}" >
      <div class="face front" >
        <article class="tcs-card"  >
          <header class="tcs-card__thumb" layout layout-align="center center" ng-click="isFlipped=!isFlipped">
            <a href="#"><img src="assets/images/TCS_logo.svg"></a>

          </header>
          <div class="tcs-card__date">
            <span class="tcs-card__date__day">{{test.date | date:'MM'}}</span>
            <span class="tcs-card__date__month">{{test.date | date:'yyyy'}}</span>
          </div>
          <div class="tcs-card__body">
            <div class="tcs-card__category"><a href="#">Verbal Verbal Verbal</a></div>
            <div class="tcs-card__title"><a href="#">TCS Verbal Test {{test.id}}</a></div>
            <div class="tcs-card__subtitle">{{test.title}}</div>
            <p class="tcs-card__description">{{test.question}}</p>
          </div>
          <md-button class="md-fab md-primary" aria-label="Eat cake" style="margin-bottom: -5px;" ng-click="isFlipped=!isFlipped">
            <md-tooltip>
              Start Test
            </md-tooltip>
            <md-icon md-font-set="fa fa-angle-right fa-2x" class="nav"></md-icon>
          </md-button>
          <footer class="tcs-card__footer" >
            <md-divider></md-divider>
            <span class="icon"><i class="fa fa-clock-o"></i> 10 Minutes</span>
            <span class="icon "><i class="fa fa-check"></i>  100 </span>
            <span class="icon "><i class="fa fa-user"></i>  {{ test.highest_scorer}} ({{test.highest_score}}) </span>
            <span class="icon "><i class="fa fa-users"></i>  {{ test.count}} </span>

          </footer>
        </article>
      </div>
      <div class="face back" >
        <article class="tcs-card"  ng-class="{'flipped':isFlipped}" >
          <header class="tcs-card__thumb"  layout="column" style="height:250px;">
            <!--<a href="#"><img src="assets/images/TCS_logo.svg"></a>-->
            <md-subheader class="md-no-sticky" ng-click="isFlipped=!isFlipped" style="cursor: pointer;"><div class="tcs-card__subtitle">{{test.title}}</div></md-subheader>
            <md-divider></md-divider>
            <md-list id="first">
              <md-list-item >
                <md-icon md-font-set="fa fa-check fa-2x" style="margin-top: 0px;"></md-icon>
                <p>Last attempt by  </p>
                <p class="md-secondary">{{ test.last_attempt_by }}</p>
              </md-list-item>
            </md-list>
            <md-divider></md-divider>
            <md-list id="second">
              <md-list-item >
                <md-icon md-font-set="fa fa-calendar fa-2x" style="margin-top: 0px;"></md-icon>
                <p>Last attempted on  </p>
                <p class="md-secondary">{{ test.last_attempt_on | date:'mediumDate'}}</p>
              </md-list-item>
            </md-list>
            <md-divider></md-divider>
            <md-list id="third">
              <md-list-item >
                <md-icon md-font-set="fa fa-user fa-2x" style="margin-top: 0px;"></md-icon>
                <p>Highest Scorer  </p>
                <p class="md-secondary">{{test.highest_scorer}}</p>
              </md-list-item>
            </md-list>

          </header>
          <!--<div class="tcs-card__date">-->
            <!--<span class="tcs-card__date__day">{{test.date | date:'MM'}}</span>-->
            <!--<span class="tcs-card__date__month">{{test.date | date:'yyyy'}}</span>-->
          <!--</div>-->
          <div class="tcs-card__body" style="padding: 0px;" >
            <md-divider></md-divider>
            <md-list id="fourth">
              <md-list-item >
                <md-icon md-font-set="fa fa-calendar fa-2x" style="margin-top: 0px;"></md-icon>
                <p>Highest Score </p>
                <p class="md-secondary">{{ test.highest_score}}</p>
              </md-list-item>
            </md-list>
            <!--<div class="tcs-card__category"><a href="#">{{test.category}}</a></div>-->
            <!--<div class="tcs-card__title"><a href="#">{{test.title}}</a></div>-->
            <!--<div class="tcs-card__subtitle">{{test.subtitle}}</div>-->
            <!--<p class="tcs-card__description">{{test.description}}</p>-->
          </div>
          <md-button class="md-fab md-primary" aria-label="Start Test" style="margin-bottom: -9px;" ng-click="vm.start($event,test.id)">
            Start Test
          </md-button>
          <footer class="tcs-card__footer" >
            <md-divider></md-divider>
            <span class="icon"><i class="fa fa-clock-o"></i> 10 Minutes</span>
            <span class="icon "><i class="fa fa-check"></i>  100 </span>
            <span class="icon "><i class="fa fa-user"></i>  {{ test.highest_scorer}} ({{test.highest_score}}) </span>
            <span class="icon "><i class="fa fa-users"></i>  {{ test.count}} </span>

          </footer>
        </article>
      </div>
    </div>
  </div>

</md-whiteframe>
